.table-container {
    width: 100%;
    overflow-x: auto;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 1.2rem;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2rem;
}

input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}











body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
    margin: 50px 25px 85px 25px;
}

.container {
    width: 100%;
    max-width: 700px;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.buttons {
    display: block;
    width: 100%;
    padding: 25px;
    margin: 25px 0;
    font-size: 3.5rem;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    background-color: #007bff;

    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.buttons:hover {
    opacity: 0.9;
}


/* Media query for mobile screens */
@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    .buttons {
        font-size: 1.8rem;
        padding: 25px;
    }
}
