{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Expense Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Expense Management</h1>

        <a href="{% url 'add_expense' %}" class="buttons">Add Expense</a>
        <a href="{% url 'expense_list' %}" class="buttons">View All Expenses</a>
        <a href="{% url 'view_reports' %}" class="buttons">View Reports</a>
    </div>
</body>
</html>
